* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: #f6fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  position: relative;
  margin-bottom: 8rem;
}

h1::after {
  content: '';
  width: 15rem;
  height: 0.3rem;
  background: linear-gradient(to right, #f44336, #9f4db5);
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

p {
  font-size: 1.6rem;
}

.review-box {
  width: 90%;
  max-width: 70rem;
  height: 30rem;
  border-radius: 1rem;
  box-shadow: -1rem 1rem 4rem rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

.card {
  height: 30rem;
  padding: 4rem;
  color: #777;
  line-height: 2.2rem;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.profile img {
  width: 7rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.profile h3 {
  font-size: 2.6rem;
  color: #f44336;
  margin-bottom: 0.8rem;
}

#slide {
  width: 100%;
  padding-right: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s;
}

/* 
.sidebar {
  width: 6rem;
  height: 100%;
  padding: 1.5rem 0;
  background-color: #f44336;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} 
*/

/********* Absolue Positioning to remove the arrow buttons when the slider reaches extremity *******/
.sidebar {
  width: 6rem;
  height: 100%;
  padding: 1.5rem 0;
  background-color: #f44336;
  position: absolute;
  top: 0;
  right: 0;
}

.scroll-buttons {
  position: relative;
  height: 100%;
}

#upArrow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#downArrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/***********************************************************************/

.sidebar img {
  width: 2.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.card::before {
  content: '';
  width: 11rem;
  height: 11rem;
  border-bottom-right-radius: 100%;
  background-color: #f44336;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

::selection {
  background-color: #f44336;
  color: #fff;
}

.hidden {
  display: none;
}
